body{
    font-family: Arial;
}

ol li{
    background-color: #dedede;
    width: 50%;
    padding: .5rem;
    margin: 1rem;
}

.cart-btn{
    background-color: blue;
    padding: 0.5rem;
    border: none;
    font-size: 20px;
}